.containerSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
  margin-bottom: 0;
}

.containerTitleExpe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.containerTitleExpe .boxTitleExpe {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 40vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.containerTitleExpe .boxTitleExpe div {
  height: 10vh;
  text-align: center;
}

.containerContentExpe {
  background-color: transparent;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.spaceOne {
  display: flex;
  justify-content: space-around;
  width: 95%;
  height: auto;
  margin: 80px 0;
  flex-wrap: wrap;
}
.spaceOne .containerBox {
  width: 270px;
  height: auto;
  padding: 25px;
  border-radius: 2px;
  background: rgb(152, 27, 27);
  background: linear-gradient(90deg, rgb(152, 27, 27) 11%, rgb(189, 14, 14) 57%, rgb(227, 17, 17) 100%);
  animation: boxShow 3s linear infinite both;
}
.spaceOne .containerBox .containerImage {
  height: 45%;
  display: flex;
  align-items: center;
}
.spaceOne .containerBox .containerImage svg {
  width: auto;
  height: 80%;
  color: #FFBE00;
}
.spaceOne .containerBox .containerImage svg path {
  color: #FFBE00;
}
.spaceOne .containerBox h3 {
  margin: 0;
  color: white;
  letter-spacing: 0.5px;
  height: 60px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.spaceOne .containerBox p {
  margin: 0;
  color: white;
  font-size: 14px;
}

[data-container] {
  opacity: 0;
  transition-duration: 3s;
  animation-delay: 2s;
}

.spaceTwo {
  width: 80%;
  padding: 5px 0;
  height: auto;
  display: flex;
  justify-content: center;
}
.spaceTwo div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-left: 3px solid white;
  width: 33%;
  padding: 0 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #BF1616;
}
.spaceTwo div:first-child {
  border: none;
}

[data-animaDescrip] {
  opacity: 0;
  animation-delay: 1s;
}

[data-animaTitle] {
  opacity: 0;
  animation-delay: 1s;
}

[data-animaTitle] p {
  opacity: 0;
}
[data-animaTitle] h3 {
  opacity: 0;
}

[data-animaDescrip] p {
  opacity: 0;
}
[data-animaDescrip] h3 {
  opacity: 0;
}

@media (max-width: 768px) {
  .containerSection {
    margin-bottom: 80px;
  }
  .containerTitleExpe {
    height: 20vh;
  }
  .containerContentExpe {
    width: 100%;
    height: auto;
    justify-content: space-around;
  }
  .spaceOne {
    justify-content: space-evenly;
    width: 95%;
    height: auto;
    margin: 40px 0;
  }
  .spaceOne .containerBox {
    height: auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 550px) {
  .spaceOne {
    width: 95%;
    margin: 100px 0 50px;
  }
  .spaceOne .containerBox {
    height: auto;
    margin-bottom: 40px;
  }
  .spaceTwo {
    width: 90%;
    padding: 5px 0;
    flex-wrap: wrap;
  }
  .spaceTwo div {
    border-left: none;
    width: 400px;
    font-size: 22px;
    line-height: 25px;
    border-bottom: 3px solid white;
    margin: 20px 0;
    padding-bottom: 20px;
  }
  .spaceTwo div:first-child {
    border-bottom: 3px solid white;
  }
}/*# sourceMappingURL=Experience.module.css.map */