.containerSection {
  display: flex;
  flex-direction: column;
  height: calc(125vh - 80px);
  margin-top: 100px;
}
.containerSection .containerOne {
  display: flex;
  padding: 40px 0;
}
.containerSection .containerOne .containerContatos {
  width: 70%;
  height: calc(55vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.containerSection .containerOne .containerContatos a {
  text-decoration: none;
}
.containerSection .containerOne .containerContatos a:hover svg {
  transition-duration: 0.4s;
  background-color: #DE1313;
  color: #F8F2F2;
  box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.08), inset 7px 0px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 17px rgba(0, 0, 0, 0.25), inset 0px 4px 14px rgba(0, 0, 0, 0.05);
}
.containerSection .containerOne .containerContatos a:hover p {
  color: #DE1313;
  transition-duration: 0.4s;
}
.containerSection .containerTwo {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.containerSection .containerTwo .containerPhoto {
  width: 100%;
  height: 50%;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerSection .containerTwo .containerPhoto .line {
  width: 100%;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80%;
  background-color: white;
}
.containerSection .containerTwo .containerPhoto .line .photo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 5px solid rgb(179, 178, 178);
  background-color: rgb(255, 255, 255);
  background-image: url("../images/my_image.jpg");
  background-size: 100%;
}
.containerSection .containerTwo .containerIcons {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.containerSection .containerTwo .containerIcons svg {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  color: white;
}
.containerSection .containerTwo .containerIcons svg:hover {
  color: #DE1313;
}
.containerSection .containerTwo .containerDireitos {
  width: 100%;
  height: 25%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerSection .containerTwo .containerDireitos p {
  font-size: 18px;
  text-align: center;
}

@media (max-width: 550px) {
  .containerSection .containerOne .containerContatos {
    width: 100%;
    height: calc(55vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .containerSection .containerOne .containerContatos a {
    text-decoration: none;
  }
  .containerSection .containerOne .containerContatos a:hover svg {
    transition-duration: 0.4s;
    background-color: #DE1313;
    color: #F8F2F2;
    box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.08), inset 7px 0px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 17px rgba(0, 0, 0, 0.25), inset 0px 4px 14px rgba(0, 0, 0, 0.05);
  }
  .containerSection .containerOne .containerContatos a:hover p {
    color: #DE1313;
    transition-duration: 0.4s;
  }
  .containerSection .containerTwo {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .containerSection .containerTwo .containerPhoto {
    width: 100%;
    height: 40%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerSection .containerTwo .containerPhoto .line {
    width: 100%;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    background-color: white;
  }
  .containerSection .containerTwo .containerPhoto .line .photo {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 5px solid rgb(179, 178, 178);
  }
  .containerSection .containerTwo .containerIcons {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .containerSection .containerTwo .containerIcons svg {
    margin: 0 8px;
    width: 30px;
    height: 30px;
    color: white;
  }
  .containerSection .containerTwo .containerIcons svg:hover {
    color: #DE1313;
  }
  .containerSection .containerTwo .containerDireitos {
    width: 100%;
    height: 25%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerSection .containerTwo .containerDireitos p {
    font-size: 18px;
    text-align: center;
  }
}/*# sourceMappingURL=Footer.module.css.map */