.containerHeader {
  background: #00020a;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #00020a), color-stop(62%, #590606), to(#9f0606));
  background: linear-gradient(90deg, #00020a 30%, #590606 62%, #9f0606 100%);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 5em;
}

.containerOffcanvas, .logoBoxMobile, .logoBoxMobile p {
  display: none;
}

@media (max-width: 768px) {
  .containerHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .containerOffcanvas, .logoBoxMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 30px;
  }
  .logoBoxMobile {
    width: 50%;
    color: #fff;
  }
  .containerOffcanvas {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 50%;
  }
  .button {
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .button img {
    width: 100%;
  }
  .button:hover {
    border-color: #E21616;
  }
  .button:active {
    border-color: #E21616;
  }
  .Navbar {
    display: none;
  }
  .offcanvasContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    background-color: black;
    height: 100%;
  }
  .offcanvasBox {
    display: inline;
  }
  .textReset {
    width: 100%;
    margin-top: 20px;
  }
  .offcanvasHeader, .offcanvasBody {
    padding: 20px 0;
  }
  .offcanvasHeader {
    width: 30%;
    border-right: 2px solid #fff;
  }
  .offcanvasHeader p, .offcanvasHeader h1 {
    margin: 0;
  }
  .offcanvasHeader p {
    font-size: 20px;
    letter-spacing: 1.5px;
  }
  .offcanvasHeader h1 {
    font-size: 40px;
    color: #E21616;
    letter-spacing: -4.5px;
  }
  .offcanvasBody {
    list-style-type: none;
    padding-left: 40px;
    width: 50%;
    height: auto;
  }
  .offcanvasBody li {
    margin-top: 20px;
    font-size: 18px;
  }
  .offcanvasBody li:hover {
    color: #E21616;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .offcanvasBody li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  .offcanvasBody li a:active {
    color: #E21616;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .logoBoxMobile img {
    width: 240px;
  }
}

@media (max-width: 435px) {
  .containerHeader {
    background: #00020a;
    background: -webkit-gradient(linear, left top, right top, color-stop(56%, #00020a), color-stop(81%, #590606), to(#9f0606));
    background: linear-gradient(90deg, #00020a 56%, #590606 81%, #9f0606 100%);
  }
  .button {
    height: 40px;
    width: 40px;
  }
  .button img {
    width: 170%;
  }
  .offcanvasHeader {
    width: 40%;
  }
  .offcanvasHeader p {
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  .offcanvasHeader h1 {
    font-size: 35px;
    letter-spacing: -3.5px;
  }
}

@media (max-width: 365px) {
  .logoBoxMobile img {
    width: 200px;
  }
}
/*# sourceMappingURL=Header.module.css.map */