* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

header {
  background-color: #0e6bed;
  text-align: center;
  height: 30vh;
  width: 100%;
}

header p {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  padding: 40px 0;
}

section {
  margin: -80px auto 50px;
  max-width: 80vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

section .BoxData {
  background-color: #fff;
  height: 130px;
  display: -ms-grid;
  display: grid;
  border-radius: 4px;
  border-bottom: 6px solid #0e6bed;
  padding: 15px;
  -webkit-box-shadow: 0 10px 15px 0 rgba(83, 82, 82, 0.2), 0 5px 10px 0 rgba(109, 107, 107, 0.19);
          box-shadow: 0 10px 15px 0 rgba(83, 82, 82, 0.2), 0 5px 10px 0 rgba(109, 107, 107, 0.19);
  text-align: center;
}

section .BoxData h1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: 500;
  color: black;
  letter-spacing: 0.5px;
}

section .BoxData .icon {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .BoxData .icon svg {
  width: 20%;
  height: auto;
}

section .BoxData p {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  font-weight: bold;
  border-top: 1px solid #ddd;
}

article {
  max-width: 80vw;
  margin: 30px auto 10px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  border-left: 6px solid #0e6bed;
  -webkit-box-shadow: 0 20px 30px 0 rgba(83, 82, 82, 0.2), 0 6px 20px 0 rgba(109, 107, 107, 0.19);
          box-shadow: 0 20px 30px 0 rgba(83, 82, 82, 0.2), 0 6px 20px 0 rgba(109, 107, 107, 0.19);
  text-align: center;
}

article .container-form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

article .container-form input[type=text], article .container-form [type=number] {
  padding: 4px;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid gray;
  width: 90%;
  outline: none;
}

article .container-form .container-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

article .container-form .container-valor {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

article .container-form .container-radios {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

article .container-form label {
  font-size: 18px;
  margin: 0 10px 0 5px;
}

article .container-form input[type=radio] {
  cursor: pointer;
}

article .container-form input[type=button] {
  padding: 15px 15px;
  background-color: #0e6bed;
  border: none;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  margin: 30px auto 10px;
  font-weight: 700;
  width: 40%;
  border-radius: 4px;
  cursor: pointer;
}

article .container-form input[type=button]:hover {
  opacity: 0.9;
}

article table {
  width: 100%;
}

article table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid gray;
}

article table tr th, article table tr td {
  text-align: left;
  padding: 10px 10px;
  margin: 0px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

article table tr th:nth-child(1), article table tr td:nth-child(1) {
  width: 60%;
}

article table tr th:nth-child(2), article table tr td:nth-child(2) {
  width: 20%;
}

article table tr th:nth-child(3), article table tr td:nth-child(3) {
  width: 20%;
}

article table tr:first-child {
  background-color: #0e6bed;
  color: white;
  border: none;
  border-radius: 4px;
}

article table tr:hover {
  background-color: #e6e3e3;
}

article table tr:nth-child(1):hover {
  background-color: #0e6bed;
}
/*# sourceMappingURL=App.css.map */