@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Nunito', sans-serif;

}

.App {
    /* background-image: url('./images/pexels6.jpg'); */

    background-repeat: repeat-y;
    background-attachment: local;
    background-size: 100%;
}


